#main-wrap{
    width: 100%;
    min-height: 756px;
}
#left-wrap{
    width: 50%;
    min-height: 756px;
    background-color: #57ffe7;
}
#right-wrap{
    width: 50%;
    min-height: 756px;
    background-color: #ff8d83;
}
.cat{
    width: 201px;
    height: 284px;
    border-width: 10px 5px;
    border-color: #fff586;
    border-style:solid;
    box-sizing: border-box;
    position: absolute;
    top: 201px;
    right: 148px;
}
.center-content{
    width: 100%;
    min-width: 1345px;
    min-height: 756px;
    text-align: center;
    z-index: 1000;
    position: absolute;
    left: 0;
}
.triangle,.circle{
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
}
.triangle1{
    border-top: 245px solid rgba(255,141,131,0.25);
    border-left: 197px solid transparent;
    border-right: 197px solid transparent;
    margin-left: -197px;
    top:69px;
}
.triangle2{
    border-bottom: 110px solid rgba(147,232,135,0.25);
    border-left: 238px solid transparent;
    border-right: 238px solid transparent;
    margin-left: -238px;
    margin-top: 172px;
}
.circle{
    height: 86px;
    width: 86px;
    background-color: #57ffe7;
    border-radius: 43px;
    margin-left: -43px;
    top:315px;
}
.rectangle{
    position: absolute;
    left: 50%;
}
.rectangle1{
    width: 412px;
    height: 82px;
    background-color: rgba(232,198,152,0.8);
    margin-left: -206px;
    top:200px;
}
.rectangle2{
    width: 184px;
    height: 56px;
    background-color: #93e887;
    border-radius: 8px;
    margin-left: -92px;
    bottom: 130px;
    font-size: 35px;
    line-height:50px;
    color: #ff8d83
}
.msg{
    top: 430px;
    width: 350px;
    margin-left:-175px;
    font-size: 45px;
}
.btn{
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(255,14,131,1);
    color: #ffffff;
}