*
  margin: 0
  padding: 0
  box-sizing border-box
body
  min-width 1280px
  background gainsboro
.f-left
  float: left
.f-right
  float right
.clear
  clear both
ul
  list-style none
.msg-font-yahei
  font-family "Microsoft YaHei UI"
.msg-font-song
  font-family "宋体"
#wrap
  max-width: 1280px
  margin: 0 auto
  background white
header
  height 57px
  padding 14px 0 0 0
  .brand
    ul
      height 36px
      margin-left 59px
      li
        display inline-block
        img
          display block
          margin-top 2px
        font-size 21px
  nav
    ul
      li
        display inline-block
        margin-right 38px
        width 64.5px
        font-size 14px;
        text-align center
        height 41px
        color gray
        &:hover
          cursor pointer
          border-bottom 2px solid #e25c60
          color #e25c60
      li.active
        border-bottom 2px solid #e25c60
        color #e25c60
      li.login
        color #e25c60
.section1
  background url("../images/1_img.png") no-repeat
  height 853px
  padding 227px 0 0 112px
  span
    color #ffffff
    display block
  span.tit
    font-size 60px
    padding-bottom 29px
  span.msg
    font-size 21px
  .button
    width 331px
    height 65px
    background #e74f4d
    font-size 30px
    color white
    cursor pointer
    text-align center
    line-height 65px
    margin-top 62px
.section2
  margin-top -162px
  background white
  height 248px
  padding 42px 0 0 0
  ul
    width 1280px
    li
      display inline-block
      text-align center
      width 24%
      span
        display block
        text-align center
        width 157px
        font-size 14px
        margin 0 auto
        padding-top 45px
.section3
  height 361px
  background #ededed
  padding-top 89px
  text-align center
  span
    display block
    font-size 54px
    color #3233
    margin-top 48px
.section4
  height 340px
  padding 52px 0 0 0
  text-align center
  background url("../images/4_img.png")
  color #ffffff
  .title
    font-size 21px
  .line
    width 31px
    border-bottom 3px solid #ffffff
    margin 12px auto
  .content
    font-size 12px
  .city-select
    padding-top 51px
    label
      width 236px
      height 36px
      display inline-block
      background #ffffff
      margin-right 30px
      select
        width 236px
        height 36px
        padding-left 12px
        font-size 12px
        color #a8aaaa
        appearance none
        -webkit-appearance: none
        -moz-appearance: none
        border none
        background  url("../images/4_down.png") no-repeat 210px center
        &:focus
          border 1px solid #e74f4d
          outline 1px solid #e74f4d
        option
          border 1px solid #e74f4d
          outline 1px solid #e74f4d
          height 27px
          &:hover
            background-color #e25c60
    button
      width 236px
      height 36px
      background #e25c60
      border none
      outline none
      font-size 14px
      color #ffffff
      cursor pointer
.section5
  height 605px
  background #ededed
  padding 100px 0 0 148px
  .ban
    text-align center
    float left
    margin-right 35px
    .img_wrap
      padding 12px 9px
      background #ffffff
    .bottom
      padding 10px 0 0 0
      .title
        font-size 14px
        padding-bottom 10px
      .content
        font-size 12px
        color #938e8c
    .top
      padding-bottom 10px
      .title
        font-size 16px
      .content
        font-size 10px
        color #938e8c
        padding-top 2px
.section6
  height 565px
  .content-left
    background url("../images/6_img.png")
    width 851px
    height 565px
    padding 131px 0 0 0
    text-align center
    color #ffffff
    .triangle
      width 0
      height 0
      border-top 11.5px solid transparent
      border-right 23px solid #ffffff
      border-bottom 11.5px solid transparent
      position relative
      left  828px
      top -180px
  .content-right
    width 429px
    height 565px
    padding 160px 0 0 0
    text-align center
    .content-wrap
      width 290px
      margin 0 auto
      .title
        font-size 16px
        padding-bottom 30px
        span
          color #e74f4d
      .content
        font-size 12px
        color #938e8c
        text-align justify
        line-height 24px
      .button
        width 105px
        height 33px
        margin 50px auto 24px auto
        border 1px solid #e74f4d
        text-align center
        line-height 33px
        font-size 12px
        color #e25c60
.section7
  height 522px
  .ban
    height 522px
    width 33.33%
    float left
    font-size 21px
    text-align center
    padding-top 172px
    .line
      width 31px
      margin:20px auto
    .button
      width 168px
      height 41px
      text-align center
      line-height 41px
      font-size 21px
      margin 0 auto
      cursor pointer
  .ban1
    background-color #e25c60
    color #ffffff
    .line
      border-bottom 3px solid #ffffff
    .button
      border 1px solid #ffffff
  .ban2
    .line
      border-bottom 3px solid #938e8c
    .button
      border: 1px solid #e74f4d
      color #e74f4d
  .ban3
    background url("../images/7_img.png")
    .triangle
      border-top 11.5px solid transparent
      border-bottom  11.5px solid transparent
      border-left 23px solid #ffffff
      position relative
      top: 100px
.section8
  height 749px
  width 100%
  .msg
    height 302px
    padding-top 109px
    text-align center
    .title
      font-size 21px
      padding 9px
    .line
      width 31px
      border-bottom 3px solid #e25c60
      margin 0 auto
    .content
      font-size 12px
      color #938e8c
      width 427px
      margin 5px auto
  .form
    width 100%
    height 447px
    .content-left
      width 292px
      margin-left 138px
      .title
        font-size 14px
        font-weight bold
      .content
        font-size 12px
        font-family '宋体'
        color #938e8c
        padding 27px 0 38px 0
    .content-right
      width 638px
      margin-left 58px
      margin-top -15px
      form
        table
          width 638px
          input
            height 40px
            width 312.7px
            background-color #ededed
            border none
            outline none
          input[type='text']
            box-sizing border-box
            padding 17px 0 17px 15px
            font-family '宋体'
            font-size 12px
            color #938e8c
          input[name='describe']
            width 638px
            height 120px
          input[type='submit']
            width 638px
footer
  width 100%
  height 416px
  background-color #32363e
  footer
    height 60px
    background-color #2f2f38
    position relative
    top 356px